.patchContact__container {
  padding: 16px;

  border-radius: 12px;
}

.patchContact__label {
  display: block;
  margin-bottom: 8px;
}

.patchContact__input {
  display: block;
  width: 100%;

  padding: 4px;

  margin-top: 4px;
}

.patchContact__button {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin-top: 16px;
}
