.patchContact__container {
  padding: 16px;

  border: 1px solid black;
  border-radius: 12px;
}

.patchContact__label {
  display: block;
  margin-bottom: 12px;
}

.patchContact__containerButton {
  display: flex;
  gap: 16px;
}
