.loginForm {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.loginForm__input {
  display: block;
  padding: 5px;
  width: 100%;

  margin-bottom: 8px;
}

.registerForm__button {
  display: block;

  margin: 0 auto;
  margin-top: 16px;
}

.loginForm__button {
  display: block;

  margin: 0 auto;
  margin-top: 16px;
}
