.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 44px !important;
  height: 43px !important;
}

.title {
  padding: 16px 0;

  font-size: 32px;
}

.title__accent {
  color: var(--textBlue);
}
