.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  list-style: none;
}

.link__light,
.link__dark {
  display: block;
  padding: 8px 12px;

  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: var(--textBlack);
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 8px;

  transition: color var(--effectTimer) var(--effectFunction),
    background-color var(--effectTimer) var(--effectFunction);
}

.link__dark {
  color: var(--textWhite);
}

.link__light,
.link__dark {
  &:hover,
  &:focus {
    color: var(--textWhite);
    background-color: #1976d2;
  }
}
