:root {
  --bgWhite: #fff;

  --textBlack: #000;
  --textWhite: #fff;
  --textBlue: #1976d2;
  --textRed: #d50000;

  --effectTimer: 300ms;
  --effectLongTimer: 500ms;
  --effectFunction: ease-in-out;
}
