.list {
  margin-bottom: 24px;
  padding: 16px 8px 20px 8px;

  background-color: var(--bgWhite);
  border-radius: 12px;
}

.list__item {
  display: flex;
  justify-content: space-between;

  padding: 6px;

  border-bottom: 1px solid black;
}

.list__container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list__containerButton {
  display: flex;
  gap: 12px;
}
