.registerForm {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.registerForm__label {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
}

.registerForm__button {
  display: block;

  margin: 0 auto;
  margin-top: 16px;
}
