.userMenu {
  display: flex;
  justify-content: right;
  align-items: center;
}

.userMenu__name {
  margin-left: 10px;
  margin-right: 16px;

  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.button {
  font-size: 14px;
}
